<div>
    <div>
        <nav class="navbar navbar-inverse" style="width: 134%;background:#3F5174;margin-bottom: 0px;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" style="color:  #fff;">Image Processing</a>
                </div>
            </div>
        </nav>
    </div>
    <div style="background-color:white;border: 1px solid white;">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a style="color:#3F5174;" href="#Handwrittentxt" role="tab" data-toggle="tab">Handwritten to Text</a>
            </li>
            <li class="nav-item">
                <a style="color:#3F5174" href="#Printedtxt" role="tab" data-toggle="tab">Printed Image to Text</a>
            </li>
            <li class="nav-item">
                <a style="color:#3F5174" href="#pdftotxt" role="tab" data-toggle="tab">PDF to Text</a>
            </li>

        </ul>
    </div>
    <div class="tab-content" style="margin-left: 120px;margin-top: 55px;">
        <div role="tabpanel" class="tab-pane fade in active" id="Handwrittentxt">
            <div style="display:inline-flex">
                <div class="box1">
                    <img style="margin: 9%;" src="../../../Images/text5.jpg" width="450" height="320" class="style_prevu_kit ">
                </div>
                <div class="box">
                    <span>{{infomsg}}</span>
                </div>
            </div>
            <div style="margin-top: 1%;">
                <div style="display: inline-flex;">
                    <div style="padding-left: 486px;">
                        <button type="button" class="btn btn-primary" (click)="ConvertImagetoText()">Convert</button>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Printedtxt">
            <div style="display:inline-flex">
                <div class="box1">
                    <img style="margin: 9%;" src="../../../Images/Printer.jpg" width="450" height="320" class="style_prevu_kit">
                </div>
                <div class="box">
                    <span>{{PrintedText}}</span>
                </div>
            </div>
            <div style="margin-top: 1%;">
                <div style="display: inline-flex;">
                    <div style="padding-left: 486px;">
                        <button type="button" class="btn btn-primary" (click)="ConvertPrintedtoText()">Convert</button>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="pdftotxt">
            <div style="display:inline-flex">
                <div class="box1">
                    <!--<embed src="../../../" type="application/pdf" width="450" height="320"/>-->
                    <!--<img style="margin: 9%;" src="../../../Images/Printer.jpg" width="450" height="320" class="style_prevu_kit ">-->
                    <iframe src="https://www.antennahouse.com/XSLsample/pdf/sample-link_1.pdf&embedded=true" style="width:560px; height:390px;" frameborder="0"></iframe>
                </div>
                <div class="box">
                    <span>{{PdftoText}}</span>
                </div>
            </div>
            <div style="margin-top: 1%;">
                <div style="display: inline-flex;">
                    <div style="padding-left: 486px;">
                        <button type="button" class="btn btn-primary" (click)="ConvertpdftoText()">Convert</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
