<div style="margin-left: -11%">
    <div>
        <nav class="navbar navbar-inverse" style="background:#3F5174;margin-bottom: 0px;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" style="color:  #fff;">Image Processing</a>
                </div>
            </div>
        </nav>
    </div>
    <div [hidden]="!imagetotest">
        <div style="display:inline-flex">
            {{documentName}}
            <div class="box1">

                <img style="margin: 3%;" [src]="url"  width="450" height="320">
            </div>
            <div class="box"> 
                <span>{{infomsg}}</span>
            </div>
        </div>
        <div style="margin-top: 1%;">
            <div style="display: inline-flex;">
                <div>
                    <input type='file' (change)="readUrl($event)">
                </div>
                <!--<button type="file" class="btn btn-primary" (change)="readUrl($event)">Convert</button>-->
                <div style="padding-left: 700px;">
                    <button type="button" class="btn btn-primary" (click)="ConvertImagetoTest()">Convert</button>
                </div>
            </div>
        </div>
    </div>
</div>